<!DOCTYPE html>
<html>
<head>
    <title>Интернет-магазин</title>
</head>
<body>
    <h1>Добро пожаловать в наш интернет-магазин!</h1>
    <h2>Выберите действие:</h2>
    <ul>
        <li><a href="/users/">Просмотреть список пользователей</a></li>
        <li><a href="/users/{user_id}">Просмотреть информацию о пользователе</a></li>
        <li><a href="/users/create">Создать нового пользователя</a></li>
        <li><a href="/users/{user_id}/update">Изменить информацию о пользователе</a></li>
        <li><a href="/users/{user_id}/delete">Удалить пользователя</a></li>
        <li><a href="/goods/">Просмотреть список товаров</a></li>
        <li><a href="/goods/{goods_id}">Просмотреть информацию о товаре</a></li>
        <li><a href="/goods/create">Добавить новый товар</a></li>
        <li><a href="/goods/{goods_id}/update">Изменить информацию о товаре</a></li>
        <li><a href="/goods/{goods_id}/delete">Удалить товар</a></li>
        <li><a href="/orders/">Просмотреть список заказов</a></li>
        <li><a href="/orders/{order_id}">Просмотреть информацию о заказе</a></li>
        <li><a href="/orders/create">Создать новый заказ</a></li>
        <li><a href="/orders/{order_id}/update">Изменить информацию о заказе</a></li>
        <li><a href="/orders/{order_id}/delete">Удалить заказ</a></li>
    </ul>
</body>
</html>